pip install acres==0.3.0
pip install aiofiles==24.1.0
pip install aiohappyeyeballs==2.6.1
pip install aiohttp==3.11.15
pip install aiosignal==1.3.2
pip install altair==5.5.0
pip install annotated-types==0.7.0
pip install anyio==4.9.0
pip install attrs==25.3.0
pip install blinker==1.9.0
pip install cachetools==5.5.2
pip install certifi==2025.1.31
pip install charset-normalizer==3.4.1
pip install ci-info==0.3.0
pip install click==8.1.8
pip install configobj==5.0.9
pip install configparser==7.2.0
pip install dataclasses-json==0.6.7
pip install distro==1.9.0
pip install etelemetry==0.3.1
pip install faiss-cpu==1.10.0
pip install filelock==3.18.0
pip install fitz==0.0.1.dev2
pip install frontend==0.0.3
pip install frozenlist==1.5.0
pip install gitdb==4.0.12
pip install GitPython==3.1.44
pip install greenlet==3.1.1
pip install groq==0.21.0
pip install h11==0.14.0
pip install httpcore==1.0.7
pip install httplib2==0.22.0
pip install httpx==0.28.1
pip install httpx-sse==0.4.0
pip install idna==3.10
pip install importlib_resources==6.5.2
pip install isodate==0.6.1
pip install itsdangerous==2.2.0
pip install Jinja2==3.1.6
pip install jiter==0.9.0
pip install jsonpatch==1.33
pip install jsonpointer==3.0.0
pip install jsonschema==4.23.0
pip install jsonschema-specifications==2024.10.1
pip install langchain==0.3.22
pip install langchain-community==0.3.20
pip install langchain-core==0.3.49
pip install langchain-openai==0.3.11
pip install langchain-text-splitters==0.3.7
pip install langsmith==0.3.22
pip install looseversion==1.3.0
pip install lxml==5.3.1
pip install MarkupSafe==3.0.2
pip install marshmallow==3.26.1
pip install multidict==6.3.1
pip install mypy-extensions==1.0.0
pip install narwhals==1.33.0
pip install networkx==3.4.2
pip install nibabel==5.3.2
pip install nipype==1.10.0
pip install numpy==2.2.4
pip install openai==1.70.0
pip install orjson==3.10.16
pip install packaging==24.2
pip install pandas==2.2.3
pip install pathlib==1.0.1
pip install pillow==10.2.0
pip install propcache==0.3.1
pip install protobuf==5.29.4
pip install prov==2.0.1
pip install puremagic==1.28
pip install pyarrow==19.0.1
pip install pydantic==2.11.1
pip install pydantic-settings==2.8.1
pip install pydantic_core==2.33.0
pip install pydeck==0.9.1
pip install pydot==3.0.4
pip install PyMuPDF==1.25.5
pip install pyparsing==3.2.3
pip install pypdf==5.4.0
pip install python-dateutil==2.9.0.post0
pip install python-dotenv==1.1.0
pip install pytils==0.4.1
pip install pytz==2025.2
pip install pyxnat==1.6.3
pip install PyYAML==6.0.2
pip install rdflib==6.3.2
pip install referencing==0.36.2
pip install regex==2024.11.6
pip install requests==2.32.3
pip install requests-toolbelt==1.0.0
pip install rpds-py==0.24.0
pip install scipy==1.15.2
pip install simplejson==3.20.1
pip install six==1.17.0
pip install smmap==5.0.2
pip install sniffio==1.3.1
pip install SQLAlchemy==2.0.40
pip install starlette==0.46.1
pip install streamlit==1.44.1
pip install tenacity==9.0.0
pip install tiktoken==0.9.0
pip install toml==0.10.2
pip install tools==0.1.9
pip install tornado==6.4.2
pip install tqdm==4.67.1
pip install traits==7.0.2
pip install typing-inspect==0.9.0
pip install typing-inspection==0.4.0
pip install typing_extensions==4.13.0
pip install tzdata==2025.2
pip install urllib3==2.3.0
pip install uvicorn==0.34.0
pip install watchdog==6.0.0
pip install yarl==1.18.3
pip install zstandard==0.23.0